/* Este repositório base foi criado para te ajudar caso você não saiba como começar. Lembre-se de que o portfólio é a sua carta de apresentação e você deve dar a sua cara. Por isso, convidamos você a personalizá-lo de acordo com o seu estilo e preferências; não se limite apenas ao layout proposto no Figma. */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-de-fundo: #F5F5F5;
    --cor-de-fundo-menu: #ffffff;
    --cor-do-link: #000000;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor-de-fundo);

    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    gap: 32px;

}

ol,
ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--cor-do-link);
}

/* ------------------------------ Seção Menu -------------------------------*/

.border{
    border: solid 3px orange;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    background-color: var(--cor-de-fundo-menu);
    

    
}

.cabecalho__logo {
    max-width: 100px;

    /* Ajuste para telas pequenas */
}

.cabecalho__titulo {
    font-size: 1.8rem;
    text-align: center;
}

.navegacao__lista {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-top: 0;
}

.navegacao__elemento a {
    font-size: 1.5rem;
    font-family: Raleway;
    font-weight: 500;
    line-height: 18.78px;
    text-align: left;

}

/* ------------------------------ Seção Apresentação ------------------------------*/

.apresentacao {

    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    height: auto;
    gap: 30px;
    padding: 30px;
   


}
.img__pessoal__container{
    display: flex;
   
   

}
.apresentacao__foto {
    border-radius: 50%;
    border: solid 5px grey;
    flex-shrink: 3;
    width: 358px;
    margin: 0px;
    box-shadow: 0px 0px 10px black;


}

.apresentacao__conteiner {
    max-width: 951px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.apresentacao__titulo {
    font-family: Raleway;
    font-size: 52px;
    font-weight: 700;
    line-height: 61.05px;
    text-align: left;
}

.apresentacao__subtitulo {
    font-family: Raleway;
    font-size: 22px;
    font-weight: 500;
    line-height: 25.83px;
    text-align: left;

}

.apresentacao__dados__pessoais {
    font-family: Raleway;
    font-size: 18px;
    font-weight: 600;
    line-height: 18.78px;
    text-align: left;
    

}

.redes {
    display: flex;
    gap: 32px;
    padding: 0px;
}

.redes__elemento a {
    font-family: Raleway;
    font-size: 16px;
    font-weight: 600;
    line-height: 18.78px;
    text-align: left;

}



/* ------------------------------ Seção Sobre mim ----------------------------------*/
.sobre__mim {
    width: auto;
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 1400px;
    padding: 32px 20px 32px 20px;
}

.sobre-mim__titulo {


    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 32px;
}



.sobre-mim__apresentacao {
    font-family: Raleway;
    font-size: 20px;
    font-weight: 500;
    line-height: 18.78px;
    text-align: left;
    line-height: 35px;


}

.paragrafo {
    text-align: justify;
}

.ident__paragrafo {
    margin-left: 50px;
}

/*------------------------------ Seção de Habilidades ------------------------------*/
.habilidades {
    padding-top: 30px;
    border-top: solid 1px rgb(49, 93, 147);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.habilidades__titulo {
    font-family: Raleway;
    font-size: 32px;
    font-weight: 700;
    line-height: 37.57px;
    text-align: center;

    margin-bottom: 32px;
}

.habilidades__lista {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
}

.habilidades__elemento {
    width: 176px;
    height: 174px;
    padding: 16px 0 0 16px;
    background: #FFFFFF;
}

/*------------------------------ Seção de Hobbies --------------------------------*/
.hobbies {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.hobbies__titulo {
    font-family: Raleway;
    font-size: 32px;
    font-weight: 700;
    line-height: 37.57px;
    text-align: center;

}

.hobbies__lista {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
}

.hobbies__elemento {
    width: 176px;
    height: 174px;
    padding: 16px 0 0 16px;
    background: #FFFFFF;
}



/*------------------------------ Seção de Formação acadêmica --------------------------------*/
.formacao {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.formacao__titulo {
    font-family: Raleway;
    font-size: 32px;
    font-weight: 700;
    line-height: 37.57px;
    text-align: center;


}

.formacao__lista {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
}

.formacao__elemento {
    width: 368px;
    background: #FFFFFF;
    box-sizing: border-box;
    padding: 10px;


}

.formacao__elemento__imagem {
    display: flex;
    margin-bottom: 5px;
    justify-content: center;
    border: solid 1px rgb(49, 93, 147);



}

.formacao__icone {
    width: 100%;
    height: 192px;

}

.formacao__elemento__titulo {
    padding: 0 10px;

}

/*------------------------------ Seção de Projetos  e esperiencia profissional---------------------------------*/
.projetos {


    border-top: solid 1px rgb(49, 93, 147);


}

.projetos__titulo {
    padding-top: 30px;
    font-family: Raleway;
    font-size: 32px;
    font-weight: 700;
    line-height: 37px;
    text-align: center;

}

.projetos__subtitulos {
    padding-top: 30px;
    font-family: Raleway;
    font-size: 31px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
}

.projeto__elemento {
    display: flex;
    padding: 50px;
    justify-content: center;
    box-sizing: border-box;



}

.projetos__conteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20%;
    padding: 20px;

}

.projeto__img__links {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    padding: 20px;
    box-sizing: border-box;
}

.img__projeto {
    width: 100%;
    height: 500px;
    box-shadow: 0px 0px 10px 3px rgb(49, 93, 147);
    ;
}

.projetos__nome {
    margin-top: 0;
}

.projeto__acesso_codigo_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    min-width: 200px;
    width: 100%;
    box-sizing: border-box;

}



.button__page__code__site {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 150px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    box-shadow: 0px 0px 1px grey;
}




.projetos__nome {
    font-family: Raleway;
    font-size: 28px;
    font-weight: 700;
    line-height: 35px;
    text-align: start;

}



.projetos__conteiner p {
    font-family: Raleway;
    font-size: 18px;
    font-weight: 600;
    text-align: start;

}

.link__projeto {
    font-family: Raleway;
    font-size: 25px;
    font-weight: 700;
    text-align: start;
    color: rgb(14, 100, 142);
}

.link__projeto:hover {

    font-size: 28px;
    font-weight: 800;

}

.img__projeto {
    width: 100%;
}



/*------------------------------ Seção de Contato ---------------------------------*/

.contato {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: solid 1px rgb(49, 93, 147);



}

.contato__titulo {
    padding-top: 30px;
    font-family: Raleway;
    font-size: 32px;
    font-weight: 700;
    line-height: 37.57px;
    text-align: left;



}

.contato__container__formulario {
    padding: 30px;
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 90%;



}

.contato__formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 50%;
    gap: 50px;
    padding: 30px;



}

.contato__campo {
    font-family: Raleway;

    font-weight: 700;
    line-height: 37.57px;
    text-align: left;
    font-size: 18px;
    border-radius: 8px;
    border-style: none;
    padding-left: 10px;
    box-shadow: 0px 0px 15px grey;

}

/*validação dos campos do foumulario*/
.error {
    color: red;
    font-size: 14px;
    display: block;
    margin-top: 5px;
}



/* Fim validação dos campos do foumulario*/

.contato__botao {

    font-size: 20px;
    font-weight: 700;
    width: 200px;
    padding: 10px;
    border-radius: 8px;
    border-style: none;
    background-color: rgba(25, 173, 214, 0.83);
    align-self: center;
    box-shadow: 0px 0px 5px rgb(2, 82, 139);
    color: rgb(6, 36, 92);

}

.contato__botao:hover {

    border: none;
    color: rgb(131, 126, 126);
    text-align: center;
    text-decoration: none;

    font-size: 18px;

    cursor: pointer;
    transition: transform 0.1s ease;
    /* Suaviza a transição de clique */
}

.contato__botao:active {
    transform: scale(1.2);
    /* Diminui o botão ligeiramente no clique */
    color: white;
    background-color: rgb(2, 82, 139);
    /* Muda a cor do botão enquanto pressionado */
}

.contato__form__img {

    margin: 0;
    width: 20%;


}

.form__img {
    width: 100%;
}

/* ------------------------------ Responsividade ---------------------------------------*/

/*telas pequenas celulares e tabletes até com telas de largura até 700px*/
@media(max-width:1000px) {
    .cabecalho {
       padding: 0;
       flex-direction: column;
       width: 100%;
   }

    .cabecalho__logo {
        display: none;
    }

    .cabecalho__titulo {
        margin-top: 20px;
        font-size: 1.5rem;
        
        
    }

    /* Navegação*/
    .navegacao {
        align-self: start;
        display: none;
    }

    
    .navegacao__lista {
        padding: 5px;
        display: flex;
        flex-direction: column;
        text-align: left;
        width: 100%;

        border: solid 5px rgb(123, 10, 10);

    }


    /*seção apresentação*/

    .apresentacao {

        display: block;
        padding: 10px;
        text-align: center;
        
        box-sizing: border-box;
        
       





    }

    .img__pessoal__container{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }
    .apresentacao__foto {
        width: 170px;


    }

    .apresentacao__conteiner {
        display: flex;
        padding: 5px;
        flex-direction: column;
        height: auto;
        gap: 10px;
        margin-bottom: 50px;
        box-sizing: border-box;

    }

    .apresentacao__titulo {
        text-align: center;
        font-size: 1.5rem;
    }

    .apresentacao__subtitulo {
        font-size: 1.2rem;

    }


    .sobre__mim {
        display: flex;
        flex-direction: column;
        width: auto;
        margin-top: 50px;


    }

    .sobre-mim__titulo {
        font-size: 1.5rem;
    }

    .sobre-mim__apresentacao {
        display: flex;
        flex-direction: column;
        
        width: 90%;

    }

    .paragrafo {
        font-size: 1rem;
    }

    .formacao__titulo {
        font-size: 1.5rem;
    }

    .formacao__lista {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .formacao__elemento {
        width: 250px;
    }

    .projetos__titulo {
        font-size: 1.5rem;
    }

    .projetos__subtitulos {
        font-size: 1.5rem;
    }

    .projeto__elemento {
        flex-direction: column;
        align-items: center;
        margin-bottom: 80px;
        padding: 0;
    }

    .projeto__img__links {
        display: flex;
        width: 100%;
        padding: 0;
        margin: 0;
        
        box-sizing: border-box;

    }

    .img__projeto {
        width:300px;
        height: 200px;
    }


    /* seção contatos*/

    .contato__form__img {
        display: none;
    }

    .contato__container__formulario {
        flex-direction: row;
        margin-bottom: 30px;
        padding: 0;

    }
    .contato__titulo{
        font-size: 1.5rem;
        margin-bottom: 30px;
    }

    .contato__formulario {
        flex-direction: column;
        width: 80%;
        gap: 10px;
        padding: 0px;

    }

    .contato__campo {
        width: 100%;
    }


}


/*telas medias */

@media(min-width:1001px) and (max-width:1400px){
    .projeto__elemento{
      
        padding: 30px;
       

    }

    .projetos__conteiner{
        
        justify-content: space-between;
    }
    .projeto__img__links {
        display: flex;
        width:100%;
       
      
        padding: 0;
        margin: 0;
        
        box-sizing: border-box;

    }

    .img__projeto {
        width: 800px;
       
        padding: 0;
        
    }
}

